 <div class="container">
  <div class="col-md-12">
    <form action="">
        <!-- <form [formGroup]="FormMemberComponent" (ngSubmit)="onSubmit()"> -->
      <div class="form-group">
         <br>
        <h3 align="center">Contact Me</h3>
        <label for="nama"> Your Name </label>
        <input type="text" id="nama" class="form-control" [(ngModel)]="nama" name="nama"/>
  </div>
      <!-- <div class="form-group">
          <label>Email</label>
          <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
          <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
              <div *ngIf="f.email.errors.required">Email is required</div>
              <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
          </div>
      </div> -->
        <div class="form-group">
            <label for="email"> Your Email </label>
            <input type="email" id="email" class="form-control" [(ngModel)]="email" name="email"/>
            </div>
        <div class="form-group">
            <label for="Comment"> Comment: </label>
            <textarea class="form-control" rows="5" id="Comment" [(ngModel)]="Comment" name="Comment"></textarea>
            </div>
            <!-- <button (click)="myFunction()">Click Me</button> -->
            <button type="button" class="btn btn-primary">Submit</button>
            <!--Menampilkan Hasil Inputannya-->
            <h3>Your Data:</h3>
            <p>Username :  {{nama}}</p>
            <p>Email :  {{email}}</p>
            <p>Message :  {{Comment}}</p>
          </form>
        
      </div>
      </div>
