<div class="container">
  <div class="col-md-12">
    <form #form="ngForm" (ngSubmit)="submit(form.value)">
      <div class="form-group">
       <br>
        <h3 align="center">Add a New Friends</h3>
        <div class="form-group row">
        <!-- Default input Nama -->
        <label for="inputText3" class="col-sm-2 col-form-label">Name</label>
        <div class="col-sm-10">
          <input mdbInput type="text" class="form-control" id="inputName3" required name ngModel #firstName="ngModel" (change)="log(firstName)"
          name="nama" placeholder="Name"
          />
          <div class="alert alert-danger" *ngIf="firstName.touched && !firstName.valid">
            <div *ngIf="firstName.errors['required']">Nama Harap Diisi</div>
          </div>
        </div>
       </div>
  </div>      
    <div class="form-group row">
        <!-- Default input Email-->
        <label for="email" class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-10">
          <input mdbInput type="text" class="form-control" id="email" required email ngModel #firstEmail="ngModel" (change)="log(firstEmail)"
          name="email" placeholder="Email"
          />
          <div class="alert alert-danger" 
          *ngIf="firstEmail.touched && !firstEmail.valid">
          <div *ngIf="firstEmail.errors['required']">Email Harap Diisi</div>
          <div *ngIf="firstEmail.errors['email']">
              Harus berupa Email
            </div>
          </div>
        </div>
      </div>
    
      <!-- Default Input No.Telp -->
     
      <div class="form-group row">
          <label for="pattern" class="col-sm-2 col-form-label">Contact No.</label>
          <div class="col-sm-10">
            <input mdbInput type="text" class="form-control" id="pattern" required pattern='[0-9]+' minlength="12" maxlength="13"ngModel #firstNomor="ngModel" (change)="log(firstNomor)"
            name="contact" placeholder="No.Telp"
            />
            <div class="alert alert-danger" 
            *ngIf="firstNomor.touched && !firstNomor.valid">
            <div *ngIf="firstNomor.errors['required']">Harap Isi Dengan Angka</div>
            <div *ngIf="firstNomor.errors['minlength']">Harap Isi Min-12 Angka</div>  
            <div *ngIf="firstNomor.errors['pattern']">
                Harus berupa Angka
              </div>
            </div>
          </div>
        </div>       
        <!-- Default input -->
      <button  type="submit" class="btn btn-success">Add Friend</button>
    </form>
      <br>
      <h3 align="center">My Friends</h3>
      <!-- Search form -->   
      <div align="center">  
      <form>
          <div class="form-group row">
          <label align="center" for="inputText3" class="col-sm-2 col-form-label">Search</label>
          <input type="nama" (keyup)='search($event.target.value)'class="search" type="text" placeholder="Cari..." required>		
        </div>
      <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Email</th>
              <th scope="col">Contact</th>
            </tr>
            <tr *ngFor="let firstName of coursesForOne">
              <th> {{firstName.id}} </th>
              <th> {{firstName.name}} </th>
              <th> {{firstName.email}} </th>
              <th> {{firstName.contact}} </th>
            </tr>
          </thead>
          